/* Equal-height card images, cf. https://stackoverflow.com/a/47698201/1375163*/
.card-img-top {
    object-fit: cover;
}
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
    .card-img-top {
        height: 15vw;
    }
  }
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .card-img-top {
        height: 16vw;
    }
  }


.no {
  opacity: 25%
}
.big_title {
  font-size:6vh;
  line-height: 1.5;
}
.small_title {
  font-size:3vh;
  line-height:1.5;
}

.name {
  font-size:3vh;
  text-align:center;
}
